:root {
    --dash-primary: rgba(27, 114, 232, 1);
    --dash-secondary: rgba(5, 30, 52, 1);
    --dash-bell: rgba(255, 143, 0, 1);
    --dash-dark-grey: rgba(91, 88, 88, 1);
}

/* #region HEADER (nav) */

nav {
    height: 70px;
}

nav ul i {
    color: var(--dash-dark-grey);
}

.fa-bell {
    color: var(--dash-bell);
}

/* #endregion HEADER (nav) */

/* #region ASIDE */
aside {
    width: 70px;
    height: calc(100vh - 70px);
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--dash-secondary);
}

/* #endregion ASIDE */

/* #region MAIN-CENTER */
.main_center {
    width: calc(100% - 70px);
    height: calc(100vh - 70px);
    overflow-y: auto;
}

.main_top {
    background-color: var(--dash-primary);
}

.main_content table i {
    color: var(--dash-dark-grey);
}

/* #endregion MAIN-CENTER */


/* #region DEBUG */
.debug #app_main .main_center {
    background-color: yellowgreen;
}

.debug * {
    border: 1px dashed wheat;
}

.debug .main_content>div {
    background-color: red;
}

/* #endregion DEBUG */


/* #region MEDIA SCREEN */

/* lg screen */
@media screen and (min-width: 991.98px) {
    aside {
        width: 150px;
    }

    .main_center {
        width: calc(100% - 150px);
    }
}

/* #endregion MEDIA SCREEN */