/* #region COMMON and Utilities */
:root {
    --dash-primary: rgba(27, 114, 232, 1);
    --dash-secondary: rgba(5, 30, 52, 1);
    --dash-bell: rgba(255, 143, 0, 1);
    --dash-dark-grey: rgba(91, 88, 88, 1);
    --dash-light: rgba(248, 249, 250, 1);
    --dash-dark-blue-btn: rgba(22, 91, 186, 1);
}

/* #endregion COMMON and Utilities */

/* #region HEADER (nav) */

.bg_darkblue_btn {
    background-color: var(--dash-dark-blue-btn);
}

nav {
    height: 70px;
}

nav ul i {
    color: var(--dash-dark-grey);
}

.fa-bell {
    color: var(--dash-bell);
}

/* #endregion HEADER (nav) */

/* #region ASIDE */
aside {
    width: 70px;
    height: calc(100vh - 70px);
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--dash-secondary);
}

aside .nav-item:hover {
    cursor: pointer;
    background-color: rgba(250, 250, 250, 0.3);
}

/* #endregion ASIDE */

/* #region MAIN-CENTER */
.app_main {
    width: calc(100% - 70px);
    height: calc(100vh - 70px);
    overflow-y: auto;
}

.main_top {
    background-color: var(--dash-primary);
}

.canvas {
    min-width: 100% !important;
}

.offcanvas-title {
    padding-left: 0.75rem;
}

.main_center {
    background-color: var(--dash-light);
}

.main_center table .btn {
    margin: 0.2rem 0;
}

.main_center table tr:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.main_center table img {
    width: 40px !important;
}

.main_center table i {
    color: var(--dash-dark-grey);
}

.main_center table .btn_code {
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1 / 1;
    background-color: rgba(242, 101, 81, 1);
}

.btn_code i {
    scale: 1.1;
}

/* #endregion MAIN-CENTER */


/* #region DEBUG */
.debug #wrapper .app_main {
    background-color: yellowgreen;
}

.debug * {
    border: 1px dashed wheat;
}

.debug .main_center>div {
    background-color: red;
}

/* #endregion DEBUG */


/* #region MEDIA SCREEN */

/* md screen */
@media screen and (min-width: 767.98px) {
    aside {
        width: 150px;
    }

    .app_main {
        width: calc(100% - 150px);
    }

    .name_table_column {
        width: 35%;
    }
}

/* lg screen */
@media screen and (min-width: 991.98px) {
    .canvas {
        min-width: 50% !important;
    }
}

/* xl screen */
@media screen and (min-width: 1199.98px) {
    .name_table_column {
        width: 48%;
    }
}

/* xxl screen */
@media screen and (min-width: 1399.98px) {
    .canvas {
        min-width: 50% !important;
    }
}

/* #endregion MEDIA SCREEN */