:root {
    --dash-primary: rgba(27, 114, 232, 1);
    --dash-secondary: rgba(5, 30, 52, 1);
    --dash-bell: rgba(255, 143, 0, 1);
}

nav {
    height: 70px;
}

.fa-bell {
    color: var(--dash-bell);
}

aside {
    width: 70px;
    height: calc(100vh - 70px);
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--dash-secondary);
}

.main_top {
    background-color: var(--dash-primary);
}

.main_center {
    width: calc(100% - 70px);
    height: calc(100vh - 70px);
    overflow-y: auto;
}


/* #region DEBUG */
.debug #app_main .main_center {
    background-color: yellowgreen;
}

.debug * {
    border: 1px dashed wheat;
}

.debug .main_content>div {
    background-color: red;
}

/* #endregion DEBUG */


/* #region MEDIA SCREEN */

/* lg screen */
@media screen and (min-width: 991.98px) {
    aside {
        width: 150px;
    }

    .main_center {
        width: calc(100% - 150px);
    }
}

/* #endregion MEDIA SCREEN */